<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="wrapper">
      <div class="contact">
        <h1>Contact Us</h1>
        <div class="row">
          <div class="col-sm-6 col-md-6" style="border: 1px solid grey;
          display: flex;
          flex-flow: row;
          align-items: center;
          padding-top: 2vh;
          padding-bottom: 2vh;">
            <p style="margin: 0;">140 Arbindo Street Ottana <br> Oklohoma CA L2Q 1K4</p>          
          </div>
          <div class="col-sm-6 col-md-6" style="border: 1px solid grey; 
          border-left: none; 
          display: flex;
          flex-flow: row;
          align-items: center;
          padding-top: 2vh;
          padding-bottom: 2vh">
            <ul>
              <li>Mon-Fri, 10am-9pm</li>
              <li>Saturday, 11am-9pm</li>
              <li>Sunday, 11am - 5pm</li>
            </ul>
          </div>
        </div>
        <div class="contact-form">
          <form>
            <input placeholder="Name"/>
            <input type="email" placeholder="Email"/>
            <input type="number" placeholder="Phone Number"/>
            <textarea type=text rows="8" placeholder="Message"></textarea>
            <div style="display: flex;justify-content: flex-end;">
              <button type="submit" >send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>>
