<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="wrapper">
      <div class="navigator">
        <span>
          <a>Home</a> >
          <a> Woman Outerwear</a> >
          <a>Tropical Wool Blazer in Blush Rose</a>
        </span>
      </div>
      <div class="row detail-row">
        <div class="col-sm-6 col-md-6">
          <div class="display-image">
            <img src='../../assets/images/women/jumpsuits/jumpsuit1.jpg'>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="header-company-name">
            <h4>Tibi</h4>
          </div>
          <div class="header-product-name">
            <h1>Tropical Wool Blazer in Blush Rose</h1>
          </div>
          <div class="product-detail">
            <p class="price">Rs 595.00</p>
            <div>
              <p>Size</p>
              <select>
                <option>12</option>
                <option>23</option>
                </select>
            </div>
            <div>
              <p>Quantity</p>
              <input type="number">
            </div>
          </div>
          <div class="purchase-buttons">
            <button class="add-to-cart">ADD TO CART</button>
            <button class="buy-it-now">BUY IT NOW</button>
          </div>
          <div class="information">
              <div style="display: flex;">
                <div>
                  <span>Description</span>
                </div>
                <div>
                  <span>More info</span>
                </div>
              </div>
              <div class="description">
                <p>
                  Tropical Wool Blazer in Blush Rose by Tibi. This fully-lined double breasted blazer in saturated pink is a fresh take on suiting. 
                  It features front flap pockets, notched collar, a back vent, and black button closures that are functional and add a design element to contrast the rose hue. 
                  Style with the Tropical Wool Stella Wide Leg Cropped Pants to complete the look.
                </p>
              </div>
              <div class="more-info">
                <h4>Order Processing</h4>
                <p>
                  All orders placed online Monday-Friday (excluding holidays) before 2PM PST will begin processing that day and ship within 48 hours, pending item availability and credit card verification. 
                  Orders placed after 2PM PST will begin processing the next business day. Orders placed on Friday after 2PM PST will begin processing the following Monday. 
                  Transit times do not include Saturday, Sunday or holidays.
                </p>
                <p>
                  Order processing cut-off times are provided as guidelines only, and do not take into account possible delays caused by item availability and payment verification.
                </p>
              </div>
          </div>
        </div>
      </div>
      <div>
        <h4>More from this collection</h4>
        <div class="row">
          <div class="col-sm-3 col-md-3">
            <app-card></app-card>
          </div>
          <div class="col-sm-3 col-md-3">
            <app-card></app-card>
          </div>
          <div class="col-sm-3 col-md-3">
            <app-card></app-card>
          </div>
          <div class="col-sm-3 col-md-3">
            <app-card
            [displaySales]="true"></app-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

