<div class="row" *ngIf="product">
  <div class="col-sm-12 col-md-12">
    <div class="wrapper">
      <div class="navigator">
        <span>
          <a>Home</a> >
          <a> {{product.Type }} {{product.Subtype}}</a> >
          <a>{{ product.Name }}</a>
        </span>
      </div>
      <div class="row detail-row">
        <div class="col-sm-6 col-md-6">
          <div class="display-image">
            <img [src]="displayImage">
          </div>
          <div class="row alt-img">
              <div class="col-sm-3 col-md-3">
                <img [src]="product.PrimaryImage" (click)="setDisplayImage(product.PrimaryImage)">
              </div>
              <div class="col-sm-3 col-md-3" *ngFor="let data of product.images" (click)="setDisplayImage(data.image)">
                <img [src]="data.image">
              </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="header-company-name">
            <h4>{{product.Company}}</h4>
          </div>
          <div class="header-product-name">
            <h1>{{product.Name}}</h1>
          </div>
          <div class="product-detail">
            <p class="price">Rs {{product.Cost}}</p>
            <div>
              <p>Size</p>
              <select>
                <option>12</option>
                <option>23</option>
                </select>
            </div>
            <div>
              <p>Quantity</p>
              <input type="number">
            </div>
          </div>
          <div class="purchase-buttons">
            <button class="add-to-cart">ADD TO CART</button>
            <button class="buy-it-now">BUY IT NOW</button>
          </div>
          <div class="information">
              <div class="information-header">
                <div class="description-header" (click)="informationDisplay = 'description'">
                  <span [ngClass]="{'active' : informationDisplay == 'description'}">Description</span>
                </div>
                <div class = "info-header" (click)="informationDisplay = 'moreinfo'">
                  <span [ngClass]="{'active' : informationDisplay == 'moreinfo'}">More info</span>
                </div>
              </div>
              <div class="description" *ngIf = "informationDisplay == 'description'">
                <p>
                 {{product.Description}}
                </p>
              </div>
              <div class="more-info" *ngIf = "informationDisplay == 'moreinfo'">
                <h4>Order Processing</h4>
                <p>
                    All orders placed online Monday-Friday (excluding holidays) before 2PM PST will begin processing that day and ship within 48 hours, pending item availability and credit card verification. 
                    Orders placed after 2PM PST will begin processing the next business day. Orders placed on Friday after 2PM PST will begin processing the following Monday. 
                    Transit times do not include Saturday, Sunday or holidays.
                </p>
                <p>
                    Order processing cut-off times are provided as guidelines only, and do not take into account possible delays caused by item availability and payment verification.
                </p>
                <h4>In-Store Pickup</h4>
                <p>
                    Orders placed online within said hours using the In-Store pickup option, will be available approximately 2 hours after the order has been processed. 
                    Orders will not be made available for pickup until you receive an email confirmation that your order is ready for pickup.
                </p>
                <h4>Shipping Restrictions</h4>
                <p>
                    We do not offer Saturday delivery. Orders shipped to APO/FPO addresses and PO Boxes will ship out via USPS Priority Mail.
                </p>
                <h4>Tracking your order</h4>
                <p>
                    Upon completion of your order, you will receive a shipment confirmation email, which will include a link that will direct you to updated tracking information.
                </p>
                <h4>International Shipping</h4>
                <p>
                    We use USPS for all international deliveries. Rates are calculated based on destination and weight of package. All additional taxes, customs and import duties levied by the client’s local government are the responsibility of the client.
                </p>
              </div>
          </div>
        </div>
      </div>
      <div>
        <h4>More from this collection</h4>
        <div class="row">
          <div class="col-sm-3 col-md-3" *ngFor="let product of similiarCollection">
            <app-card
              [name]="product.Name"
              [company]="product.Company"
              [cost]="product.Cost"
              [primaryImage]="product.PrimaryImage"
              [displaySales]="product.Sale"
              (click)="loadProduct(product.id)"></app-card>
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>

