<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="wrapper">
      <div class="header">
        <h1>Your Cart</h1>
      </div>
      <div class="table-header">
        <span>Price</span>
        <span>Quantity</span>
        <span>Total</span>
      </div>
      <hr>
      <ng-container *ngFor="let cart of cartItems">
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <div class="item">
              <div class="item-image">
                <img [src]="cart.productImage">
              </div>
              <div class="item-details">
                <span>{{cart.productName}}</span>
                <a style="cursor: pointer;" (click)="removeTheItem(cart)">Remove</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6">
            <div class="table-row">
              <span>${{+cart.productPrice}}</span>
              <input type="number" min="1" (input)="onQuantityUpdate($event,cart)" [value]="cart.quantity">
              <span>${{+cart.productPrice * +cart.quantity}}</span>
            </div>
          </div>
        </div>
        <hr>
      </ng-container>      
      <div class="table-footer">
        <div class="content">
          <p class="subtotal">Subtotal <span>${{getTotalCost()}}</span></p>
          <p class="instruction">Taxes and shipping calculated at checkout</p>
          <div class="buttons">
            <button class="normal-button" [routerLink]="['/']"> Continue Shopping</button>
            <button class="normal-button" (click)="updateTheCart()" [disabled]="!isAuthenticated"> Update cart</button>
            <button (click)="routeToCheckout()">Check out</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
