<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="wrapper">
      <div class="header">
        <h1>Your Cart</h1>
      </div>
      <div class="table-header">
        <span>Price</span>
        <span>Quantity</span>
        <span>Total</span>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <div class="item">
            <div class="item-image">
              <img [src]="'../../assets/images/women/jumpsuits/jumpsuit1.jpg'">
            </div>
            <div class="item-details">
              <span>Striped Sweater in Navy/ White</span>
              <a>Remove</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="table-row">
            <span>$391.00</span>
            <input value=1>
            <span>$391.00</span>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <div class="item">
            <div class="item-image">
              <img [src]="'../../assets/images/women/jumpsuits/jumpsuit1.jpg'">
            </div>
            <div class="item-details">
              <span>Striped Sweater in Navy/ White</span>
              <a>Remove</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="table-row">
            <span>$391.00</span>
            <input value=1>
            <span>$391.00</span>
          </div>
        </div>
      </div>
      <hr>
      <div class="table-footer">
        <div class="content">
          <p class="subtotal">Subtotal <span>$566.00</span></p>
          <p class="instruction">Taxes and shipping calculated at checkout</p>
          <div class="buttons">
            <button class="normal-button"> Continue Shopping</button>
            <button class="normal-button"> Update cart</button>
            <button>Check out</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
