<div class="row">
    <div class="col-sm-12 col-md-12 authContent">
        <div class="wrapper">
            <div class="row">
                <div class="header">
                    <h1>{{headerName}}</h1>
                </div>
            </div>
            <div class="row">
                <div class="form-content">
                    <form>
                        <div class="form-fields">
                            <ng-container *ngIf="formType.toLowerCase()=='existing'">                                
                                <input type="text" placeholder="Email"/>  
                                <input type="password" placeholder="Password"/>
                                <a>Forgot your password?</a>
                                <button type="submit">Sign In</button>
                                <a routerLink="/login/new" routerLinkActive="router-link-active" >Create Account</a>                                
                            </ng-container>
                            <ng-container *ngIf="formType.toLowerCase()=='new'">                                
                                <input type="text" placeholder="First Name"/> 
                                <input type="text" placeholder="Last Name"/> 
                                <input type="text" placeholder="Email"/>  
                                <input type="password" placeholder="Password"/>
                                <button type="submit">Create</button>
                            </ng-container>  
                            <a routerLink="/" routerLinkActive="router-link-active" >Return to Store</a>                          
                        </div>                      
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>