<div class="row">
  <div class="col-sm-12 col-md-12 footer-menu">
    <div class="content-wrapper">
      <div class="links">
        <h4>Links</h4>
        <div>
          <ul>
            <li><a>Search</a></li>
            <li><a>News</a></li>
            <li><a [routerLink]="['/about']" routerLinkActive="router-link-active" >About us</a></li>
            <li><a [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="news">
        <h4>Latest News</h4>
        <div class="news-content">
          <h4>The Big Launch!</h4>
          <p>
            Today is the greatest launch of the most amazing
            packaging and pricing new product
          </p>
        </div>
      </div>
      <div class="social">
        <h4>Follow Us</h4>
        <div>
          <span> <i class="fa fa-twitter fa-2x" aria-hidden="true"></i> </span>
          <span> <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i> </span>
          <span> <i class="fa fa-instagram fa-2x" aria-hidden="true"></i> </span>
          <span> <i class="fa fa-snapchat-ghost fa-2x" aria-hidden="true"></i> </span>
        </div>
      </div>
      <div class="newsletter">
        <h4>Newsletter</h4>
        <div>
          <p>Sign up for the latest news, offers and styles</p>
          <input class="email-input" placeholder="Your email"/>
          <br>
          <button> Subscribe</button>
        </div>
      </div>
    </div>
  </div>
</div>
