<section>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="wrapper home-market">
        <app-carousal [content]="marketContent"></app-carousal>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="row">
    <div class="col-sm-12">
      <div class="wrapper women-clothing">
        <h2 >Woman Clothing</h2>
        <div class="tab">
          <button class="tablinks active" (click)="tabbutton($event,'best-seller-women')">Best Seller</button>
          <button class="tablinks" (click)="tabbutton($event,'new-items-women')">New Items</button>
          <button class="tablinks" (click)="tabbutton($event,'sale-women')">Sale</button>  
        </div>
        <div id="best-seller-women" class="tabcontent active">
          <div class="row" *ngFor="let rowData of getTabContent('bestSeller', 'women')">
            <div class="col-sm-3 col-md-3" *ngFor="let data of rowData">
              <app-card 
              [name]="data.Name"
              [company]="data.Company"
              [cost]="data.Cost"
              [primaryImage]="data.PrimaryImage"
              [displaySales]="data.Sale"></app-card>
            </div>
          </div>
        </div>
        <div id="new-items-women" class="tabcontent">
          <div class="row" *ngFor="let rowData of getTabContent('newItem', 'women')">
            <div class="col-sm-3 col-md-3" *ngFor="let data of rowData">
              <app-card
              [name]="data.Name"
              [company]="data.Company"
              [cost]="data.Cost"
              [primaryImage]="data.PrimaryImage"
              [displaySales]="data.Sale"></app-card>
            </div>            
          </div>
        </div>
        <div id="sale-women" class="tabcontent">
          <div class="row" *ngFor="let rowData of getTabContent('sale', 'women')">
            <div class="col-sm-3 col-md-3" *ngFor="let data of rowData">
              <app-card
              [name]="data.Name"
              [company]="data.Company"
              [cost]="data.Cost"
              [primaryImage]="data.PrimaryImage"
              [displaySales]="data.Sale"></app-card>
            </div>            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="row">
    <div class="col-sm-12">
      <div class="wrapper men-clothing">
        <h2 >Man Clothing</h2>
        <div class="tab">
          <button class="tablinks active" (click)="tabbutton($event,'best-seller-men')">Best Seller</button>
          <button class="tablinks" (click)="tabbutton($event,'new-items-men')">New Items</button>
          <button class="tablinks" (click)="tabbutton($event,'sale-men')">Sale</button>  
        </div>
        <div id="best-seller-men" class="tabcontent active">
          <div class="row" *ngFor="let rowData of getTabContent('bestSeller', 'men')">
            <div class="col-sm-3 col-md-3" *ngFor="let data of rowData">
              <app-card
              [name]="data.Name"
              [company]="data.Company"
              [cost]="data.Cost"
              [primaryImage]="data.PrimaryImage"
              [displaySales]="data.Sale"></app-card>
            </div>            
          </div>
        </div>
        <div id="new-items-men" class="tabcontent">
          <div class="row"  *ngFor="let rowData of getTabContent('newItem', 'men')">
            <div class="col-sm-3 col-md-3" *ngFor="let data of rowData">
              <app-card
              [name]="data.Name"
              [company]="data.Company"
              [cost]="data.Cost"
              [primaryImage]="data.PrimaryImage"
              [displaySales]="data.Sale"></app-card>
            </div>
          </div>
        </div>
        <div id="sale-men" class="tabcontent">
          <div class="row" *ngFor="let rowData of getTabContent('sale', 'men')">
            <div class="col-sm-3 col-md-3" *ngFor="let data of rowData">
              <app-card
              [name]="data.Name"
              [company]="data.Company"
              [cost]="data.Cost"
              [primaryImage]="data.PrimaryImage"
              [displaySales]="data.Sale"></app-card>
            </div>            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="row" style="padding-top: 4vh;padding-bottom: 2vh;">    
    <div class="col-sm-6 col-md-6 home-about">
      <div class="wrapper about-block">
        <h2>Welcome to FASHION PLAZA</h2>
        <p>
            Our products are inspired by the people and world around us. Beautiful, high 
            quality goods that are designed especially for you. Discover our story and 
            meet the people that make <a style="color: #f84711;" [routerLink]="['/about']" >our brand</a> what it is.
        </p>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="wrapper about-block-image">
          <img style="width: 100%;" [src]="homeAboutImage">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="row" style="padding-top: 4vh;padding-bottom: 2vh;">
    <div class="col-sm-6 col-md-6">
      <div class="wrapper home-products-image">
        <img [src]="homeProductImage" style="width: 100%;">
      </div>
    </div>
    <div class="col-sm-6 col-md-6 home-product">
      <div class="wrapper home-products">
        <p>
          All our products are made using the finest materials and craftsmanship. 
          Each product is packaged and delivered with care. Check out our <a style="color: #f84711;">FAQs</a>
          for more questions on shipping, processing, and more.
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="wrapper" style="padding-top: 4vh;padding-bottom: 5vh;">
    <div class="row">
      <div class="col-sm-6 col-md-6 home-contact">
        <div class="contact">
          <p>140 Arbindo Street Ottana <br> Oklohoma CA L2Q 1K4</p>
          <ul>
            <li>Mon-Fri, 10am-9pm</li>
            <li>Saturday, 11am-9pm</li>
            <li>Sunday, 11am - 5pm</li>
          </ul>
          <button><span><i class="fa fa-map-marker" aria-hidden="true"></i></span> directions</button>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div>
          <img style="width: 100%;height: 50vh;" [src]="storeImage">
        </div>
      </div>
    </div>
  </div>  
</section>