<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="wrapper">
      <div class="navigator">
        <p>
          <span><a>Home</a></span>
          <span *ngIf="selectedType"> > </span><span *ngIf="selectedType"><a>{{selectedType[0].toUpperCase()+selectedType.slice(1,selectedType.length).toLowerCase()}}</a></span>
          <span *ngIf="selectedSubType"> > </span><span *ngIf="selectedSubType"><a>{{selectedSubType[0].toUpperCase()+selectedSubType.slice(1,selectedSubType.length).toLowerCase()}}</a></span>
        </p>
      </div>
      <div class="header row">
        <div class="col-sm-6 col-md-6">
          <h1>{{selectedType[0].toUpperCase()+selectedType.slice(1,selectedType.length).toLowerCase()}} {{selectedSubType ? selectedSubType[0].toUpperCase()+selectedSubType.slice(1,selectedSubType.length).toLowerCase():""}}</h1>
        </div>
        <div class="col-sm-6 col-md-6 browse-options">
          <span>Browse by</span>
          <select style="margin-right: 1vw;" (change)="categorySelected($event)" [(ngModel)]="selectedSubType">
            <option *ngFor="let item of categoryList" [selected]="selectedSubType == item">{{item}}</option>
          </select>
          <span>Sort by</span>
          <select (change)="sortChanged($event)" [(ngModel)]="sortValue">
            <option *ngFor="let item of sortList">{{item}}</option>
          </select>
        </div>
      </div>
      <div class="products">
        <div class="row" *ngFor="let cloths of clothDetails">
          <div class="col-sm-2 col-md-2" *ngFor="let data of cloths">
            <app-card
              [name]="data.Name"
              [company]="data.Company"
              [cost]="data.Cost"
              [primaryImage]="data.PrimaryImage"
              [displaySales]="data.Sale"
              (click)="loadProduct(data.Id)"></app-card>
          </div>         
        </div>
      </div>
      <div class="pagination" *ngIf="totalPages > 1">
        <span class="active"><i class="fa fa-long-arrow-left" aria-hidden="true" (click)="changePageNumber(currentPageNumber - 1)"></i></span>
        <span *ngFor="let i of pagesRange(totalPages,1)" [class.active] = "currentPageNumber == i" (click)="changePageNumber(i)">{{i}}</span>
        <span><i class="fa fa-long-arrow-right" aria-hidden="true" (click)="changePageNumber(currentPageNumber + 1)"></i></span>
      </div>
    </div>
  </div>
</div>
